@model MVCApp2.Models.Employee
@{
    ViewBag.Title = "EmpDetails";
}

<h2>EmpDetails</h2>
<table>
    <tr>
        <td>EmpId:</td>
        <td>@Model.EmpId</td>
    </tr>
    <tr>
        <td>EmpName:</td>
        <td>@Model.EmpName</td>
    </tr>
    <tr>
        <td>EmpCity:</td>
        <td>@Model.EmpCity</td>
    </tr>
    <tr>
        <td>EmpGender:</td>
        <td>@Model.EmpGender</td>
    </tr>
</table>
<br />
<br />
@Html.ActionLink("Back to EmployeeList", "Index", "Employee", new {@DeptId=Model.DeptId},null)

